<ion-content>
 <div class="banner">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
   <div class="login-text">
      <h1>Verify OTP</h1>
   </div>
 </div>


 <div class="sign-message">
    <p>Enter digit sent  to</p> 
    <p>mphathisi@gmail.com</p>
    Did'nt get OTP?
    <a routerLink = "/register">Resend</a>
 </div>



<div class="container">
    <div class="form">
    <form>
   

      <div class="form-group row">
          <div class="col-sm-10">
              <input type="number" class="form-control" required="true" placeholder="OTP">
          </div>
      </div>


      <div class="form-group row">
          <div class="col-sm-10">
            <button class="btn btn-success btn-block" routerLink ="/">Verify</button>
          </div> 
      </div>

      <div class="container">
        <div class="form-group row">
        <div class="col-sm-10"><p>Once you verify your gmail you will  be able to manage your funds through the app</p>
        </div>
      </div>
      </div>


    </form>
   </div>
</div>




</ion-content>
