.banner{
    background: #0067a5;
    color: #fff;
    padding: 0;
    margin: 0;

    
}
.padding-b{
    padding-top: 1em;

}
.padding-b card{
   width: 94%;

 
}
.chip-img img{
  width: 60px;


}

.chip-img img{
  width: 60px;

}
.btn-success{
  background: #33cc33;
  border-color: none;
}