<ion-header>
   <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button routerLink="/home/transport">
            <ion-icon name="return-up-back-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
          <ion-button>
            B John
          </ion-button>
        </ion-buttons>
        <ion-title>Safe Account</ion-title>
      </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
          
  <ion-card class="banner">
        <ion-grid>
        <ion-row>
          <ion-col>
            <div>Groceries</div>
          </ion-col>
          <ion-col>
            <div>Safe Account</div>
          </ion-col>
        </ion-row>
      </ion-grid> 
      <!--send grid-->

       <ion-grid>
        <ion-row>
          <ion-col class="chip-img">
            <img src="../../../assets/images/CC_chip.png">
          </ion-col>
          <ion-col>
             <ion-button fill="outline" style="float: right; color: white">R2,41.00</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
       <h5 class="text-center" style="color:#beeb09;">4894 3334 4223</h5>
       <h5 class="text-center">John Doe</h5>
    </ion-card>



<div class="container padding-b">
<ion-card ion-padding>

    <ion-item  class="ion-activated">
   
    <ion-label class="text-center">Create Voucher</ion-label>
  </ion-item>
</ion-card>

<ion-card>
  <ion-item class="ion-activated">
   
    <ion-label class="text-center">Geo Pay</ion-label>
  </ion-item>
</ion-card>

<ion-card>
  <ion-item class="ion-activated">

    <ion-label class="text-center">Tap & Pay</ion-label>
  </ion-item>
</ion-card>
</div>
</ion-content>
