.banner{
  /*background: #0067a5;s*/
  height: 20%; 
  padding-top: 3em;
}
.create-message{
   padding-top:0.5em;
}
.form{
  margin-top: 2em;
}
.button{
   margin-top: 1em;

}
.forget{
	padding-top: 2em;
}
.footer{
	padding-top: 2em;
}
.btn-success{
  background: #33cc33;
  border-color: none;
}
/*ion-button{
	
   --background:#33cc33;
}*/