.banner{
    background: #0067a5;
    color: #fff;
    padding: 0;
    margin: 0;
    width: 100%;
}
.padding-b{
    padding-top: 1em;

}
.padding-b card{
  width: 100%;
}
.chip-img img{
  width: 60px;
  border:none;


}
.padding-b card{
  width: 100%;
}
.chip-img img{
  width: 60px;

}
.btn-success{
  background: #33cc33;
  border-color: none;
}
img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 190px;
}


